Options +FollowSymlinks
RewriteEngine On

# deal with admin first
RewriteCond %{REQUEST_URI} ^/vandemission/(adminpanel)
RewriteRule ^adminpanel/assets/(.*)$ backend/web/assets/$1 [L]
RewriteRule ^adminpanel/css/(.*)$ backend/web/css/$1 [L]
RewriteRule ^adminpanel/js/(.*)$ backend/web/js/$1 [L]
RewriteRule ^adminpanel/img/(.*)$ backend/web/img/$1 [L]
RewriteRule ^adminpanel/dist/(.*)$ backend/web/dist/$1 [L]
RewriteRule ^adminpanel/plugins/(.*)$ backend/web/plugins/$1 [L]
RewriteRule ^adminpanel/upload/(.*)$ backend/web/upload/$1 [L]
RewriteRule ^adminpanel/uploads/(.*)$ backend/web/uploads/$1 [L]
#
RewriteCond %{REQUEST_URI} !^/vandemission/backend/web/(assets|css)/
RewriteCond %{REQUEST_URI} ^/vandemission/(adminpanel)
RewriteRule ^.*$ backend/web/index.php [L]


RewriteCond %{REQUEST_URI} ^/vandemission/(assets|css)
RewriteRule ^assets/(.*)$ frontend/web/assets/$1 [L]
RewriteRule ^css/(.*)$ frontend/web/css/$1 [L]
RewriteRule ^js/(.*)$ frontend/web/js/$1 [L] 
RewriteRule ^images/(.*)$ frontend/web/images/$1 [L]

RewriteCond %{REQUEST_URI} ^/assets/*
RewriteRule ^assets/(.*)$ assets/$1 [L]

RewriteCond %{REQUEST_URI} !^/vandemission/(frontend|backend)/web/(assets|css|js|img|dist|plugins|upload|uploads)/
RewriteCond %{REQUEST_URI} !index.php
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ frontend/web/index.php